body {
  background-color: #000000;
  font-family: "Courier New", monospace;
  color: #FFFFFF;
  padding: 5%;
}

h1, h2, h3 {
  font-size: clamp(30px, 10vw, 70px);
}

p {
  font-size: clamp(12pt, 3vw, 20pt);
}

nav {
  display: flex;
  justify-content: left;
  align-items: center; /* center items vertically */
  position: fixed;
  top: 3%;
  left: 0;
  right: 0;
}

nav a {
  margin: 0 10px;
}


nav img {
  height: 60px; /* set the desired height */
  width: auto; /* maintain aspect ratio */
  max-width: 100%; /* limit width to the parent container */
  display: block; /* make the image a block-level element */
}

main {
  padding-top: 30px;
}

#pill {
  font-size: clamp(12pt, 3vw, 20pt);
  font-weight: bold;
  color: white;
  padding: 0px 30px;
  display: inline-block;
  border-radius: 0%;
  border: 5px solid white;
  text-decoration: none;
  line-height: 30px;
  transition: padding 0.5s ease;
}

#pill:hover {
  padding: 1% 5%;
}

#separate {
  padding: 3vw 1vw;
}