* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Fira Code','Courier New', monospace;
  color: var(--secondary);
}

body.darkmode{
  --main-purple: rgb(164, 130, 250);
  --main-purple-transparent: rgba(164, 130, 250, 0.5);
  --primary: rgb(0,0,0);
  --secondary: rgb(255,255,255);
  --nav-default: rgba(255, 255, 255, 0.7);
  --nav-hover: rgba(255, 255, 255, 1.0);
  background-color: var(--primary);
}

body.lightmode{
  --main-purple: rgb(164, 130, 250);
  --main-purple-transparent: rgba(164, 130, 250, 0.5);
  --primary: rgb(255, 255, 255);
  --secondary: rgb(0, 0, 0);
  --nav-default: rgba(0, 0, 0, 0.7);
  --nav-hover: rgb(0, 0, 0);
}

body.cursed{
  background-color:rgba(0, 0, 0, 0);
  background-image: url(../images/front-image_zoom.jpg);
}

p{
  max-width: 1000px;
  font-weight: 400;
  font-size: 12pt;
}

#link {
  background-color: var(--secondary);
  color: var(--primary);
  line-height: 200%;
  font-weight: 450;
  text-decoration: none;
  white-space: pre-wrap; /* CSS3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#link:hover{
  color: var(--secondary);
  background-color: var(--main-purple);
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 15pt;
}

nav li {
  padding-left: 0rem;
}

nav a {
  color: var(--nav-default);
  text-decoration: none;
  font-weight: 400;
/*  transition: font-weight 1s ease;*/
}

nav a:hover{
  color: var(--nav-hover);
  font-weight: 700;
  background-color: var(--main-purple);
/*  transition-duration: 0.0s; */
}

nav #current {
  color: var(--secondary);
  font-weight: bold;
}

.navbar-brand
{
    position: relative;
    background: url(cd-icon.png);
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#title {
  color: var(--main-purple);
  font-weight: bolder;
  font-size: 40pt;
}

#blog-title {
  color: var(--main-purple);
  font-weight: bolder;
  font-size: clamp(20pt , 8vw , 40pt);
}

#blog-date {
  font-size: clamp(10pt , 5vw , 20pt);
  font-weight: 400;
  color: var(--main-purple-transparent);
}

#boxed {
  padding: 5px;
  border-bottom: 2px solid var(--main-purple);
/*  border-right: 2px solid white;*/
}

main {
  margin: 50px 5vw;
}

input {
  outline-width: 0;
  margin-bottom: 10px;
  padding: 3px;
  border: solid 3px var(--main-purple);
  font-family: 'Fira Code','Courier New', monospace;
  font-size: 11pt;
  font-weight: 450;
  width: 300px;
  color: var(--secondary);
  background-color: rgba(0, 0, 0, 0);
}


textarea{
  outline-width: 0;
  padding: 3px;
  min-height: 60px;
  width: 300px;
  resize: vertical;
  border: solid 3px var(--main-purple);
  color: var(--secondary);
  font-family: 'Fira Code','Courier New', monospace;
  font-size: 11pt;
  font-weight: 450;
  background-color: rgba(0, 0, 0, 0);
}

button{
  font-family: 'Fira Code','Courier New', monospace;
  background-color: var(--main-purple-transparent);
  color: var(--secondary);
  /* line-height: 100%; */
  font-size: 12pt;
  font-weight: 450;
  border: none;
  text-decoration: none;
}

#imagedefault {
    width: 90%;
    max-width: 500px;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  row-gap: 20px;
  column-gap: 40px; 
  justify-content: start;
  margin-top: 20px;
}

.grid-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.image-wrapper {
  position: relative;
  width: 100%; 
  aspect-ratio: 4/3;
  background-color: white; 
  border: 1.5px, solid, black;
}

.image-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: scale-down; 
}

.grid-item p {
  background-color: black;
  color: white;
  line-height: 200%;
  font-weight: 450;
  /* margin-top: 5px; */
  font-family: 'Fira Code', monospace;
  text-align: center; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
  max-width: 101%;
  line-height: 1.4;
}

.grid-item:hover p{
  color: var(--secondary);
  background-color: var(--main-purple);
}

@media (max-width: 820px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Fullscreen */
.fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fullscreen-overlay img {
  max-width: 90%;  
  max-height: 90%;
}

#file-name {
  position: absolute;
  bottom: 20px;
  width: 90%;
  word-wrap: break-word;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  font-family: 'Fira Code', monospace;
  line-height: 1.4;
}

/* Font */
font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-Light.woff2') format('woff2'),
    url("woff/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-Regular.woff2') format('woff2'),
    url("woff/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-Medium.woff2') format('woff2'),
    url("woff/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-SemiBold.woff2') format('woff2'),
    url("woff/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-Bold.woff2') format('woff2'),
    url("woff/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code VF';
  src: url('woff2/FiraCode-VF.woff2') format('woff2-variations'),
       url('woff/FiraCode-VF.woff') format('woff-variations');
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
